@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Environment: @Model.EnvironmentName</h3>
    <h3>ASPNETCORE_ENVIRONMENT: @Model.AspnetcoreEnvironment</h3>
    <h3>@Model.ProfileInfo</h3>
</div>